In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import selenium
import requests
import os

In [2]:
def data_crawling(user_name):
#DB 유저 불러오기
    global k
    url = f'https://your.gg/kr/profile/{user_name}'
    resp = requests.get(url)
    html = BeautifulSoup(resp.text, 'html.parser')
#승패 크롤링
    for i in range(30):
        # 티어 크롤링
        # buiiz7-0 sc-1p3os9u-3 hCTbNr zMKXD
        ingame_id = html.select('div.sc-15xrq75-3 span')[0].text.strip()
        tier = html.select('div span.sc-1p3os9u-3')[0].text.strip()
        # 게임 모드 크롤링
        mode = html.select('span.d490eh-2')[i].text
        # 승, 패 크롤링
        # buiiz7-0 d490eh-4 hCTbML dSQenp
        Win_lose = html.select('span.d490eh-4')[i].text
        # KDA 크롤링
        # buiiz7-0 sc-1p49g2y-1 hNEJCS gLFnks
        KDA = html.select('span.sc-1p49g2y-1')[i*3].text[:-7]
        kill = KDA.split('/')[0]
        death =  KDA.split('/')[1]
        assist = KDA.split('/')[2]
        # 킬 관여율 크롤링
        kill_particapant = html.select('span.sc-1p49g2y-1')[i*3+2].text[:2]
        # 게임 시간 크롤링
        # buiiz7-0 d490eh-5 hNEJEN
        game_time = html.select('span.d490eh-5')[i].text
        # 챔피언 크롤링
        # sc-1xwhuw1-0 afFmu sc-1hmh1k6-4 dIKnaT
        champion =html.select('div.sc-1xwhuw1-0 img')[i*11]['alt']
        # 킬 관여율 크롤링
        kill_pati = html.select('span.sc-1p49g2y-1')[i*3].text[-5:-1]
        # 두번째 방법
        # your.gg의 게임 결과의 우측에 닉네임이 존재하는 순서를 통해 포지션 크롤링 하기
        # d490eh-10 dkiApC
        users = []
        for j in html.select('ul.d490eh-10 a'):
            users.append(j.text)
        if users[10*i:10*(i+1)].index(ingame_id) == 0 or users[10*i:10*(i+1)].index(ingame_id) == 1:
            position = 'top'
        elif users[10*i:10*(i+1)].index(ingame_id) == 2 or users[10*i:10*(i+1)].index(ingame_id) == 3:
            position = 'jungle'
        elif users[10*i:10*(i+1)].index(ingame_id) == 4 or users[10*i:10*(i+1)].index(ingame_id) == 5:
            position = 'mid'
        elif users[10*i:10*(i+1)].index(ingame_id) == 6 or users[10*i:10*(i+1)].index(ingame_id) == 7:
            position = 'adc'
        else:
            position = 'support'
        print(k,'th user', i+1,'th game', position)
        # 0~1 top
        # 2~3 jungle
        # 4~5 mid
        # 6~7 adc
        # 8~9 support
        data.append([ ingame_id, tier, mode, Win_lose, champion, position, kill, death, assist, kill_particapant, kill_pati ])
    k += 1

In [8]:
col_nm = ['유저명', '티어', '모드', '승패', '챔피언', '포지션', 'Kill', 'Death', 'Assist', '킬관여율', 'kda']
# data = pd.DataFrame(data,columns=col_nm)
# data

In [4]:
df = pd.read_csv('220629/final_raw_220629.csv')
df

            account
0               턱돼지
1          핑찍으면우물잠수
2     Visual Jockey
3               이원일
4              mvp맨
...             ...
1279        1종보통박누누
1280      115동1803호
1281        06년생망나니
1282     1091906071
1283        채팅하면던질거

[1284 rows x 1 columns]

In [5]:
data = []
k = 1
for i in df['account'][:10]:
    try :
        data_crawling(i)
    except:
        pass

1 th user 1 th game jungle
1 th user 2 th game jungle
1 th user 3 th game jungle
1 th user 4 th game jungle
1 th user 5 th game jungle
1 th user 6 th game jungle
1 th user 7 th game adc
1 th user 8 th game top
1 th user 9 th game top
1 th user 10 th game jungle
1 th user 11 th game adc
1 th user 12 th game top
1 th user 13 th game mid
1 th user 14 th game mid
1 th user 15 th game support
1 th user 16 th game jungle
1 th user 17 th game support
1 th user 18 th game mid
1 th user 19 th game adc
1 th user 20 th game support
1 th user 21 th game mid
1 th user 22 th game support
1 th user 23 th game jungle
1 th user 24 th game jungle
1 th user 25 th game adc
1 th user 26 th game top
1 th user 27 th game jungle
1 th user 28 th game top
1 th user 29 th game top
1 th user 30 th game adc
2 th user 1 th game top
2 th user 2 th game top
2 th user 3 th game top
2 th user 4 th game top
2 th user 5 th game top
2 th user 6 th game top
2 th user 7 th game top
2 th user 8 th game top
2 th user 9 th game top
2 th user 10 th game top
2 th user 11 th game top
2 th user 12 th game top
2 th user 13 th game top
2 th user 14 th game support
2 th user 15 th game top
2 th user 16 th game top
2 th user 17 th game support
2 th user 18 th game mid
2 th user 19 th game top
2 th user 20 th game top
2 th user 21 th game jungle
2 th user 22 th game support
2 th user 23 th game mid
2 th user 24 th game top
2 th user 25 th game top
2 th user 26 th game top
2 th user 27 th game top
2 th user 28 th game top
2 th user 29 th game top
2 th user 30 th game top
3 th user 1 th game adc
3 th user 2 th game adc
3 th user 3 th game adc
3 th user 4 th game top
3 th user 5 th game adc
3 th user 6 th game adc
3 th user 7 th game jungle
3 th user 8 th game adc
3 th user 9 th game adc
3 th user 10 th game adc
3 th user 11 th game mid
3 th user 12 th game top
3 th user 13 th game mid
3 th user 14 th game jungle
3 th user 15 th game adc
3 th user 16 th game support
3 th user 17 th game mid
3 th user 18 th game top
3 th user 19 th game jungle
3 th user 20 th game top
3 th user 21 th game jungle
3 th user 22 th game adc
3 th user 23 th game adc
3 th user 24 th game adc
3 th user 25 th game top
3 th user 26 th game adc
3 th user 27 th game mid
3 th user 28 th game adc
3 th user 29 th game top
3 th user 30 th game top
4 th user 1 th game adc
4 th user 2 th game jungle
4 th user 3 th game adc
4 th user 4 th game mid
4 th user 5 th game mid
4 th user 6 th game top
4 th user 7 th game top
4 th user 8 th game jungle
4 th user 9 th game adc
4 th user 10 th game top
4 th user 11 th game jungle
4 th user 12 th game top
4 th user 13 th game top
4 th user 14 th game top
4 th user 15 th game adc
4 th user 16 th game adc
4 th user 17 th game adc
4 th user 18 th game mid
4 th user 19 th game jungle
4 th user 20 th game support
4 th user 21 th game adc
4 th user 22 th game jungle
4 th user 23 th game jungle
4 th user 24 th game adc
4 th user 25 th game top
4 th user 26 th game jungle
4 th user 27 th game jungle
4 th user 28 th game top
4 th user 29 th game jungle
4 th user 30 th game adc
5 th user 1 th game jungle
5 th user 2 th game jungle
5 th user 3 th game jungle
5 th user 4 th game jungle
5 th user 5 th game jungle
5 th user 6 th game jungle
5 th user 7 th game jungle
5 th user 8 th game jungle
5 th user 9 th game jungle
5 th user 10 th game jungle
5 th user 11 th game adc
5 th user 12 th game jungle
5 th user 13 th game jungle
5 th user 14 th game jungle
5 th user 15 th game jungle
5 th user 16 th game jungle
5 th user 17 th game support
5 th user 18 th game adc
5 th user 19 th game support
5 th user 20 th game jungle
5 th user 21 th game jungle
5 th user 22 th game adc
5 th user 23 th game jungle
5 th user 24 th game jungle
5 th user 25 th game jungle
5 th user 26 th game jungle
5 th user 27 th game adc
5 th user 28 th game adc
5 th user 29 th game top
5 th user 30 th game top
6 th user 1 th game adc
6 th user 2 th game top
6 th user 3 th game adc
6 th user 4 th game top
6 th user 5 th game adc
6 th user 6 th game adc
6 th user 7 th game adc
6 th user 8 th game adc
6 th user 9 th game adc
6 th user 10 th game jungle
6 th user 11 th game adc
6 th user 12 th game adc
6 th user 13 th game adc
6 th user 14 th game adc
6 th user 15 th game top
6 th user 16 th game adc
6 th user 17 th game adc
6 th user 18 th game adc
6 th user 19 th game adc
6 th user 20 th game top
6 th user 21 th game adc
6 th user 22 th game adc
6 th user 23 th game jungle
6 th user 24 th game adc
6 th user 25 th game adc
6 th user 26 th game adc
6 th user 27 th game top
6 th user 28 th game top
6 th user 29 th game mid
6 th user 30 th game adc
7 th user 1 th game mid
7 th user 2 th game adc
7 th user 3 th game support
7 th user 4 th game mid
7 th user 5 th game mid
7 th user 6 th game mid
7 th user 7 th game mid
7 th user 8 th game mid
7 th user 9 th game mid
7 th user 10 th game adc
7 th user 11 th game mid
7 th user 12 th game mid
7 th user 13 th game jungle
7 th user 14 th game mid
7 th user 15 th game top
7 th user 16 th game support
7 th user 17 th game adc
7 th user 18 th game jungle
7 th user 19 th game jungle
7 th user 20 th game support
7 th user 21 th game top
7 th user 22 th game adc
7 th user 23 th game jungle
7 th user 24 th game adc
7 th user 25 th game top
7 th user 26 th game mid
7 th user 27 th game support
7 th user 28 th game adc
7 th user 29 th game support
7 th user 30 th game mid

In [9]:
table = pd.DataFrame(data, columns=col_nm)
table

     유저명        티어    모드    승패      챔피언      포지션 Kill Death Assist 킬관여율   kda
0    턱돼지  Bronze 4  솔로랭크   WIN  Shyvana   jungle  12     0      4    73  6.00
1    턱돼지  Bronze 4  솔로랭크    RE  Shyvana   jungle   0     0       0   0%  0.00
2    턱돼지  Bronze 4  솔로랭크   WIN  Shyvana   jungle  14     8      24   69  4.75
3    턱돼지  Bronze 4  솔로랭크   WIN  Shyvana   jungle  16     7       9   60  3.57
4    턱돼지  Bronze 4  솔로랭크  LOSS  Shyvana   jungle  11     4       8   59  4.75
..   ...       ...   ...   ...      ...      ...  ...   ...    ...  ...   ...
205  유하님  Unranked   칼바람   WIN   Syndra      mid  15     8      26   77  5.13
206  유하님  Unranked   칼바람  LOSS     Sona  support   6     9      41   92  5.22
207  유하님  Unranked   칼바람  LOSS   Gragas      adc   6     6      15   70  3.50
208  유하님  Unranked   칼바람  LOSS  Caitlyn  support  10     6       8   69  3.00
209  유하님  Unranked   칼바람   WIN    Senna      mid   2     3     39    91  3.67

[210 rows x 11 columns]

In [16]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23476 entries, 0 to 23475
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   유저명     23476 non-null  object
 1   티어      23476 non-null  object
 2   승패      23476 non-null  object
 3   챔피언     23476 non-null  object
 4   포지션     23476 non-null  object
 5   Kill    23476 non-null  object
 6   Death   23476 non-null  object
 7   Assist  23476 non-null  object
 8   킬관여율    23476 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [17]:
table.to_csv('final_dataset_220630.csv', index = False, encoding="utf-8-sig")